<div class="container mt-5">
    <h4 class="text-center">Employee Management</h4>
    <br/>
    <div class="row">
        <div class="offset-md-4 col-md-4 col-12">
            <div class="card">
                <div class="card-header">
                    <strong>Sign In</strong>
                </div>
                <div class="card-body">
                    <button class="btn btn-danger btn-block" (click)="loginWithGoogle()">
                        <i class="fa fa-google"></i> Sign in with <b>Google</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
