<!--<div class="container mt-5">
    <h4 class="text-center">Employee Management</h4>
    <br/>
    <div class="row">
        <div class="offset-md-4 col-md-4 col-12">
            <div class="card">
                <div class="card-header">
                    <strong>Sign In</strong>
                </div>
                <div class="card-body">
                    <a href="http://localhost:8080/restricted"><button class="btn btn-danger btn-block" >
                        <i class="fa fa-google"></i> Sign in with <b>Google</b>
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</div>-->


<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
     <div class="col-lg-12"></div>
  
     <div class="container mt-5 emp-manage">
        <h4 class="text-center">ID Management</h4>
        <br/>
        <div class="row">
            <div class="offset-md-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Sign In</strong>
                    </div>
                    <div class="card-body">
                        <a href="http://localhost:8080/restricted"><button class="btn btn-danger btn-block" >
                            <i class="fa fa-google"></i> Sign in with <b>Google</b>
                        </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    </div>
  </div>
